@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Fira Sans", serif;

}

body {
    background-color: #FFFFFF;
}

/* shared style */
.title {
    font-size: 40px;
    font-weight: 700;
    color: rgba(14, 14, 14, 1);
    margin-bottom: 24px;
}

.description {
    font-size: 16px;
    font-weight: 500;
    color: rgba(14, 14, 14, 0.7);
    margin-bottom: 32px;

}

.display-flex {
    display: flex;
}

.btn-share {
    background-color: rgba(84, 144, 245, 1);
    padding: 15px;
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    border: none;

}
.btn-3 {
    
    background-color: rgba(0, 106, 80, 1);
}

/* banner-section */
.banner {
    margin: 0 auto;
    padding: 60px;

}

.banner-box {

    background-color: rgba(198, 228, 214, 1);
    padding: 60px 60px;
    border-radius: 24px;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;

}

.banner-content {
    width: 40%;
    padding: 60px 20px;
}

.banner-img {
    margin-left: 100px;
}

.banner-content p {
    font-size: 24px;
    font-weight: medium;
    color: #0E0E0E;
    margin-bottom: 5px;
    padding: 10px;
    margin-top: 50px;

}

.banner-content h1 {
    font-size: 70px;
    font-weight: bold;
    padding: 5px;
    margin-bottom: 30px;
}

.btn .btn-1 {
    font-size: 18px;
    font-weight: 800px;
    border-radius: 10px;
    background-color: #006A50;
    margin: 20px;
    padding: 25px;
    width: 270px;
    color: #FFFFFF;
}

/*future card releted styles  */
.card {
   
    margin-top: 80px;
    margin-bottom: 80px;
   
}

.card-box {
    width: 80%;
    margin: 0 auto;
    background-color:white;
    
    
   
}

.card-content {
    justify-content: space-between;
    align-items: center;
    
    
    
}

.cards {
    max-width: 400px;
    border-radius: 16px;
    padding: 30px;
    height 500px;
    gap: 50px;
}


.btn-3-card{
    background-color: rgba(9, 161, 92, 1);
}

#btn-4 {
    background-color: rgba(255, 194, 57, 1);
}

.card-1 {
    background-color: rgba(84, 144, 245, 0.2);
   
}

.card-2 {
    background-color:rgba(198, 228, 214, 1);
}

.card-3 {
    background-color: rgb(227, 202, 143);
}
.card-title{
    margin-top: 24px;
    margin-bottom: 12px;
}
.card-description{
    margin bottom: 40px;
}
.vision-bottom{
    margin-top: 80px;
    border-radius: 16px;
    background-color: rgba(241, 241, 241, 0.89);
    padding: 50px;
    border: 1px solid white;
}
#cottesion{
    position: absolute;
}
.bottom-description{
    margin-bottom: 50px;
}

/* recent news related style */
.news-box{
    width: 80%;
    margin: 0 auto;
    padding: 50px;
}
.content{
    /* max-width: 700px; */
}

.news-description{
    background-color:rgba(255, 255, 255, 0.83);
    
}
.sattelite-box-1{
    gap: 60px;
    padding: 60px 55px;
    border-radius: 24px;
    background-color: rgba(241, 241, 241, 0.89);
}
.sattelite-box-2{
    flex-direction: row-reverse;
    background-color: rgba(241, 241, 241, 0.89);
    border-radius: 24px;
    margin-top: 24px;
    padding: 60px 55px;

 }
.news-title{
    color: rgba(14, 14, 14, 0.8);
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 30px;
}
.time-date{
    margin: 10px 0;
}

 .news-btn{
    margin-top: 30px;
 }


 /* donate related style */
 .donate{
    margin-top: 80px;
 }
 .donate-box{
    width: 80%;
    margin: 0 auto;
 }
 .heading{
    text-align: center;
 }
 .donate-title{
    color: rgba(14, 14, 14, 1);
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 25px;
 }
 .money-card{
    gap: 60px;
    justify-content: center;
    margin-bottom: 50px;
 }
 .money-amount{
    background-color: rgba(241, 241, 241, 0.89);
    border-radius: 16px;
   
    font-size: 40px;
    font-weight: 700;
    color: rgba(14, 14, 14, 0.8) ;
    padding: 36px;
 }
 #donate-money{
    background-color: rgba(198, 228, 214, 1);
 }
 .Other-amount{
    width: 70%;
    margin: 0 auto;
    font-size: 20px;
    font-weight: 500;
    padding: 20px;
 }
 
 .btn-container{
    text-align: center;
    margin-top: 32px;
 }

 .other-taka{
    text-align: center;
 }
 .input{
    width: 1032px;
    text-align: center;
    padding: 30px;
    font-size: 20px;
    font-weight: 500;
    background-color: rgba(241, 241, 241, 0.89);
    border: none;
    color: rgba(14, 14, 14, 0.3);
    
 }
 /* suscribe related style */
 .Subscribe{
    margin-top: 80px;
 }
 .suscribe-box{
    width: 80%;
    margin: 0 auto;
    background-color: rgba(198, 228, 214, 1);
    border-radius: 24px;
    padding top: 50px;;
   
 }
 .suscribe-title{
    font-weight: 700;
    font-size: 40px;
    margin-top:100px ;
    margin-bottom: 16px;
 }
.suscribe-heading{
    text-align: center;
    margin-top: 100px;
    
}
.suscribe-input{
    width: 700px;
   margin-bottom: 30px;
    padding: 15px;
    font-size: 16px;
    font-weight: 500;
}
.input-box{
    text-align: center;
}
.suscribe-content{
   padding: 30px ;
}
 
 